{% extends "base.html.twig" %}

{% block tittle %}Erreur 500 {% endblock %}

{% block h1 %}500: Erreur serveur{% endblock %}

{% block body %}
    <div class="alet alert-danger">
           Ce chemin n'existe pas ! <i> Vade retro</i>
    </div> 
    <a href="{{ Path('add_home') }}" class= "btn btn-primery"> Retour à la </a>
{% endblock %}
